body {
  background: url("https://images.unsplash.com/photo-1457052002176-2d16a4f4a3ff?ixlib=rb-0.3.5&s=a8fa520abcd5ac76618f24e002021cf0&auto=format&fit=crop&w=2550&q=80") no-repeat center center fixed;
  background-size: cover;
}

#header-line1{
  color: #ffffff;
}

#header-line2{
  color: #b3b3b3;
}

.startingText{
  background-color:rgba(0,0,0,0.5);
}

#searchbar{
  text-align: center;
  opacity: .8;
}

.flex-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-start;

}

.card{
  background-color:rgba(255,255,255,0.9);
  width: 18vw;
  height: 18vh;
  margin-bottom: 3vh;
  margin-right: 2vw;
}

.card-body{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
}

.card-title{
  text-align: center;
  font-size: 2.0vw;
}

.btn{
  font-size: 1.6vw;
  padding: 0.4vh 0;
}

.highlight{
  background: #c4faff;
}

.hide{
  display: none !important;
}

#return{
  margin: 0 auto;
  font-size: 2vw;
  letter-spacing: 2px;
  width: 100%;
  height: 5vw;
}

table{
  opacity: .80;
  width: 20vw;
}

td,th{
  text-align: center;
  width: 24vw;
}


@media only screen and (min-width: 650px) and (max-width: 999px) {
  .card{
    width: 16vw;
    height: 15vw;
  }
  #return{
    margin: 0 auto;
    font-size: 3.5vw;
    letter-spacing: 3px;
    width: 100%;
    height: 6.25vw;
  }
}

@media only screen and (max-width: 649px) {
  .card{
    width: 24vw;
    height: 17vw;
  }
  .card-body{
    padding: 2.25vw;
  }
  .btn{
    margin: 0 auto;
    display: block;
    font-size: 1.6vw;
    padding: 0.6vh 0;
    width:14vw;
    text-align: center;
  }
  .card-title{
    font-size: 1.8vw;
  }

  #return{
    margin: 0 auto;
    font-size: 3.5vw;
    letter-spacing: 3px;
    width: 100%;
    height: 10vw;
  }
}

@media only screen and (min-width: 1000px) and (max-width:1400px){
  .card{
    width: 16vw;
    height: 15vw;
  }
}
